.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.beer-list {
  margin: 450px 50px 0px 50px;
}

.logo {
  margin: 40px 50px 20px 50px;
  width: 205px;
}
.nav-text {
  color: #E3A710;
  font-weight: bold;
  font-family: 'Bitter', serif;
  font-size: 16px;
}

.navbar {
  margin-left: 50px;
}

.main-text {
  color: #E3A710;
  font-weight: bold;
  font-family: 'Bitter', serif;
  font-size: 16px;
}

.button-class {
  background-color: #E3A710;
  color: white;
}

.card {
  background-color: #282c34;
  border: solid 3px red;
}


.sub-text {
  font-size: 13px;
}

.button {
  color: white;
  font-weight: bold;
  text-align: left;
  background-color: #E3A710;
  border-radius: 7px;
  font-size: 14px;
  transition-duration: 0.4s;
  padding: 0px 10px;
}

.button:hover {
  background-color: white;
  color: #E3A710; 
}





/* login and register styles */
.wrapper {	
  margin-top: 40px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 2px solid rgba(0,0,0,0.1); 
  -webkit-box-shadow: 0px 0px 41px -21px rgba(0,0,0,0.63);
  -moz-box-shadow: 0px 0px 41px -21px rgba(0,0,0,0.63);
  box-shadow: 0px 0px 41px -21px rgba(0,0,0,0.63);
} 

.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
}
  
.loginall {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
   background: linear-gradient(90deg, rgba(227,167,16,.95) 9%, rgba(245,143,0,.95)),
  url('./logo grid 3.png');
}

.form-signin-heading {
  font-weight: bold;
  font-family: 'Bitter', serif;
}

.btn {
  background-color: #E3A710;
  font-weight: bold;
  font-family: 'Bitter', serif;
  font-size: 16px;
}

.reg {
  color: #E3A710;
}

.banner {
  font-weight: bold;
  font-family: 'Bitter', serif;
  font-size: 52px;
  color: white;
  text-align: center;
  padding-top: 180px;
}

/* search css properties */

.css-yk16xz-control, .css-1pahdxg-control {
  width: 13rem
}


.ui.input>input {
  width: 16rem
}

.ui.button {
  background: #fcbb11 none !important;
}

.searchForm {
  padding-bottom: 1rem;
}


