.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.beer-list {
  margin: 450px 50px 0px 50px;
}

.logo {
  margin: 40px 50px 20px 50px;
  width: 205px;
}
.nav-text {
  color: #E3A710;
  font-weight: bold;
  font-family: 'Bitter', serif;
  font-size: 16px;
}
.nav-text:hover {
  color: #C48C0E;
  font-weight: bold;
  font-family: 'Bitter', serif;
  font-size: 16px;
}

.navbar {
  margin-left: 50px;
}

.main-text {
  color: #E3A710;
  font-weight: bold;
  font-family: 'Bitter', serif;
  font-size: 16px;
}

.main-text:hover {
  color: #C48C0E;
  font-weight: bold;
  font-family: 'Bitter', serif;
  font-size: 16px;
}

.button-class {
  background-color: #E3A710;
  color: white;
}

.cardNumbers {
  color: black !important
}

.card {
  background-color: #282c34;
  border: solid 3px red;
}


.sub-text {
  font-size: 13px;
}

.button {
  
  text-align: left;
  background: #fcbb11;
  border-radius: 3px;
  font-size: 12px;
  transition-duration: 0.4s;
  padding: 5px 10px;
}

.button:hover {
  background-color: #F0AD11;
}


/* login and register styles */
.wrapper {	
  margin-top: 40px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 2px solid rgba(0,0,0,0.1); 
  -webkit-box-shadow: 0px 0px 41px -21px rgba(0,0,0,0.63);
  -moz-box-shadow: 0px 0px 41px -21px rgba(0,0,0,0.63);
  box-shadow: 0px 0px 41px -21px rgba(0,0,0,0.63);
} 

.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
}
  
.loginall {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
   background: linear-gradient(90deg, rgba(227,167,16,.95) 9%, rgba(245,143,0,.95)),
  url('./logo grid 3.png');
}

.form-signin-heading {
  font-weight: bold;
  font-family: 'Bitter', serif;
}

.btn {
  background-color: #E3A710;
  font-weight: bold;
  font-family: 'Bitter', serif;
  font-size: 16px;
}

.reg {
  color: #E3A710;
}

.banner {
  font-weight: bold;
  font-family: 'Bitter', serif;
  font-size: 52px;
  color: white;
  text-align: center;
  padding-top: 180px;
}

/* search css properties */

.css-yk16xz-control, .css-1pahdxg-control {
  width: 11rem;
}

.ui.input>input {
  width: 16rem
}

.ui.button {
  background: #fcbb11 none !important;
}

.ui.button:hover {
  background: #F0AD11 none !important;
}

.searchForm {
  padding-bottom: 1rem;
}

.white {
  color: white;
}

.welcome {
  font-weight: bold;
  font-family: 'Bitter', serif;
  color: #F0AD11;
}

.jumbo {
  background-color:transparent !important;
}

@media screen and (max-width: 420px) {
  .css-yk16xz-control, .css-1pahdxg-control {
    width: 9rem
  }
 }

.fuckme {
  margin: 0 auto;
  right: 50%;
  text-align: center;

 }

.brew-btn {
   margin: 20px;
 }

.brew-list {
  font-weight: bold;
  font-family: 'Bitter', serif;
 }

.my-brews {
   width: 400px;
   margin: 0 auto;
   text-align: center;
 }

.delete {
   text-align: right;
   bottom: 90%; 
   margin: 20px;
   margin-top: 200px;
}

.delete-btn {
  margin: 20px;
}

.form-inline {
  margin-left: 60%;
  
  margin-bottom: 1rem
}

@media screen and (max-width: 420px) {
  .form-inline {
    margin-left: 2rem
  }
  .css-yk16xz-control, .css-1pahdxg-control {
    width: 12rem
  }
}


.btn-brew {
  background: #fcbb11 !important;
  color: black !important
}
.btn-brew:hover {
  background: #F0AD11 none !important;
}